/**
 *   Here's where everything gets included. You don't need
 *   to change anything here, and doing so might break
 *   stuff. Here be dragons and all that.
 */
/**
 *   Default variables
 *
 *   While these can be set with JavaScript, it's probably
 *   better and faster to just set them here, compile to
 *   CSS and include that instead to use some of that
 *   hardware-accelerated goodness.
 */
.unslider-nav ol {
  list-style: none;
  text-align: right;
}
.unslider-nav ol li {
  display: inline-flex;
      width: 18px;
    height: 18px;
  margin: 0 4px;
  background: transparent;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -9999em;
  border: 2px solid #fff;
  cursor: pointer;
  background: #212f63;
}
.unslider-nav ol li.unslider-active {
  background: #a1a1a1;
  cursor: default;
}
