/*
Theme Name: Defence Contracts Online
Theme URI: 
Description: Defence Contracts Online
Author: Mario Jaconelli
Author URI: 
Version: 2.0
License: BSD 2-Clause
License URI: http://opensource.org/licenses/bsd-license.php
*/

.level-footer .svg-inline--fa{
	margin-left: -0.4em;
	margin-top: -0.4em;
}
.level-footer .svg-inline--fa.fa-stack-2x{
	height: 1em;
	width: 1em;
}
.level-footer .social{
	margin-top: 1em
}

body {
	font-family: 'Open Sans', sans-serif !important;
	color: #1e1f20;
	font-size: 0.8em;
}
div{
	box-sizing: border-box;
}
/*.takeover-container {
    background: #ffffff;
    width: 1050px;
    padding: 15px;
    margin: 0 auto;
}*/


/* We like off-black for text. */
body, select, input, textarea {color: #1e1f20;}

a {color: #b21f34; text-decoration: none; transition: 0.25s;}
a:hover {color: #212f63;}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;}

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }
textarea:-moz-placeholder { color:#a9a9a9; }

img{
	height: auto;
}


/* And here begins the WordPress fun.
-------------------------------------------------------------------------------*/
.wpcf7 input[name="gdpr"] {
	width: 13px;
}

.wpcf7 input:not([type="checkbox"]), .wpcf7 textarea, .wpcf7 select{
	width: 100%;
    padding: 3px 5px;
    resize: none;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.4;
}
.two-big .sub-feature-title-container{
	font-size: 1.8em;
	padding-bottom: 0;
	margin-bottom: 0;
}
.two-big .sub-image-container{
    padding-top: 10px;
    border-top: 1px solid #b21f34;
}
.acf-button{
	background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
    display: inline-block;
    font-size: 13px;
    line-height: 26px;
    height: 28px;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.acf-button:hover{
	color: #fff;
}
.two-big .overlay h3{
	font-size: 1.5em;
}
.two-big .category{
	font-size: 1.5em !important;
}
.video-content{
	padding:10px;
}
.two-big .sub-feature-title-container{
	padding-top: 0px;
	margin-top: 0px;
}
.level-sub-main-features{
	margin-bottom: 0;
}
.backbutton{
	float:right;
	    margin-top: -2.8em;
}
.wpcf7 input[type="submit"]{
	width: auto;
}
.level-nav-bar{
	background-color: #b21f34;
	border-top: 3px solid #212f63;
}

.dco-searchform{
 margin-top: 5px;
}
.dco-searchform input[type="submit"]{
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
}
.dco-searchform:before{ 	
	content: "\f002";
	font-family: FontAwesome;
    position: absolute;
    padding-left: 8px;
    padding-top: 3px;
    font-size: 1.2em;
}
.shortcode_item_container{
	font-size: 0.9em;
}
.shortcode_item_container{
	margin-bottom: 15px;
}
.no-border{
	border: 0 !important;
}
.grey > div{
	padding: 20px!important;
}
.dco-searchform input[type="search"]{
	width: 100%;
	box-sizing: border-box;
	padding-left: 30px;
}
.sf-menu A:hover, .sf-menu .current_page_item a{
	background-color: #212f63;	
}
#main-logo-container h1 a{
	display:block;
	text-indent:-9999px;
	background-size: contain !important;
	background-repeat: no-repeat!important;
}
.level-header-image{
	float:right;
	margin-top: -4em;
	margin-right: 20px;
}
.level-header-image img{
	width: 4em;
}
.header-slider{
	min-height: 38px;
	opacity: 0;
}
.blank-row{
	margin-bottom: 5px;
}
.header-right a.cta-full{
	padding: 7px 0;
}
/*.level-header, */.level-sub-features, .level-mod-announcements, .level-line-along, .level-video{
	margin: 40px 0;
}
.overlay h2{
	color: #fff;
}
.small-feature{
	margin-top:0;
}
.do-sidebar .line-along{
	margin-bottom: 0;
	padding-left:10px;
}
.do-blog .line-along{
	padding-left:10px;
}
.do-blog.dco-content .category{
	font-size: 1.3em;
	float: left;
    padding-right: 10px;
}
.do-blog.dco-content  h2{
	font-size: 2em;
	clear:both;
	font-weight: 700;
}
.dco-content  li{
	padding-left: 10px;
	    position: relative;
}
.stakeholder-panel .unslider-nav{
	margin: 0;
}
.dco-content li:before{
	font-family: FontAwesome;
    content: "\f058 ";
    color: #b21f34;
    left: -17px;
    position: absolute;
    line-height: 1.5em;
}
.dco-content li ul li:before{
	font-family: FontAwesome;
	content: "\f05d ";
	color: #b21f34;
	margin-right: 0.5em;
}
.dco-content ol li:before{
	font-family: inherit;
	content: " ";
	color: #b21f34;
	margin-right: 0;
}
.unslider ul{
}
 .dco-content .unslider li{
	padding-left: 0;
	    position: initial;
}
 .dco-content .unslider li:before, .dco-content .unslider-nav li:before{
	font-family: initial;
    content: "";
    position: inherit;
    line-height: inherit;
}

.dco-content blockquote{
	position: 	relative;
	font-style: italic	
}
.dco-content blockquote:before{
	font-family: FontAwesome;
    content: "\f10d ";
    color: #c7bebf;
    position: absolute;
    left: -40px;
    font-size: 33px;
    font-style: normal;
}

.do-blog.dco-content .posted{
	font-size: 1em;
	color: #212f63;
	vertical-align: sub;
}
.do-blog .overlay{
	background-color: rgba(178,31,52, 0.65);
}
.ad-content-container{
	position:relative;
}
.do-tag a{
		color: #b21f34;
}
.level .unslider-nav ol li{
	display: inline-block;
}
.acf-form ul li:before{
	content: "";
}
.supplier-container{
	margin-bottom: 20px;
	box-sizing: border-box;	
}
.supplier-region{
	clear: 	both;
	display:block;
}
.all-suppliers-container{
	padding:10px;
}
.banner{
	margin-bottom: 10px;
}
.search-box{
	background-color: #b21f34;
	color: #FFF;
}
.search-box #company_search{
	width: 100%;
}
.supplier-region span, .supplier-cat span{
	color: #b21f34;
}
.supplier-cat{
	clear: 	both;
	display: block;
}
.no-image-title-container{
	color: #b21f34;
	font-weight: 700;
	border-bottom: 1px solid;
	padding-bottom: 10px;
}
.no-image-title-container a{
	color: #b21f34;
	font-weight: 700;
}
.video-container{
	background-color: #f5f5f5;
}
.do-blog.dco-content .overlay .posted{
	color: #fff;
}
.header-logos-container{
	float: right;
    width: 275px;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}
.header-logos-container img{
	width: 75px;
	margin-top: -6px;
}
.removeTheLine{
	display: none !important;
}
.header-logos-container p.header-supportedby{
	margin-top: -10px;
    margin-left: 15px;
    /*border-bottom: 1px solid #cdcdcd;*/
    padding-bottom: 5px;
    font-style: italic;
    font-size: 	0.9em;
}
.header-logos-container p{
	margin-top: 0px;

}
.ad-button{
	cursor: pointer;
	right:0;
	position: absolute;
	top:0;
}
.level-stakeholder .unslider-nav ol{
	text-align: center;
	margin-top: 15px;
}
.header-slider h2{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 2em;
}
.stakeholder-news-slider li{
	padding: 0 5px !important;
}
h2{
	color: #212f63;
	line-height: 1.3em;
}
.line-along{
	background-image: url('images/line.jpg');
	background-repeat: 	repeat-x;
	background-position: center center;
	min-height: 40px;
}
.red .line-along, .blue .line-along{
	background-image: url('images/line-w.png');
}
.archive-header h2{
	font-size: 2.7em !important;
	margin-bottom: 0.5em;
}
.dco-content h2{
	font-size: 40px;
	font-family: 'Open Sans Condensed', sans-serif;
	
}
.dco-content .main-feature-container h2{
	font-weight: 400;
}
.webinar-row{
	padding: 10px 0;
}
/* Added due to change of the tag from h2 to h1 at author/dprte page to keep the appearance unchanged. SEO reasons */
h1.line-along span{
	background-color: #fff;
    padding-right: 20px;
    margin-left: -10px;
    padding-left: 10px;
}
h2.line-along span{
	background-color: #fff;
    padding-right: 20px;
    margin-left: -10px;
    padding-left: 10px;
}
.red h2.line-along span{
	background-color: #b21f34;
}
.blue h2.line-along span{
	background-color:#212f63;
	color: #fff;
}
.blue h2.line-along i{
	color: #fff;
}
h3.line-along span{
	background-color: #fff;
    padding-right: 20px;
    margin-left: -10px;
    padding-left: 10px;
}
.dco-content h3{
	padding: 0;
	margin:0;
	font-size: 15px;
	font-family: 'Open Sans Condensed', sans-serif;
}
a[class^="cta"], input[type="submit"]{
	color: #fff;
    background-color: #212f63;
    font-size: 17px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 0.25em 1em;
    vertical-align: top;
    transition: 0.5s;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
    border: 0;
}
.do-inline-tabs{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.do-inline-tabs li{
	padding-left:0;
	margin: 0;
	border-left: 1px solid #fff;
}
.do-inline-tabs li a{
	float: left;
    font-size: 1.5em;
    color: #fff;
    background-color: #212f63;
    padding: 1% 2%;
    margin: 10px;
    box-sizing: border-box;
    width: 25%;
    text-align: center;
    border-left: 1px solid;
}
.do-inline-tabs li a:last-of-type{
	margin-right: 0;
}
.do-inline-tabs li a:first-of-type{
	margin-left: 0;
}
.do-inline-tabs li a:hover, .do-inline-tabs li.current a{
	background-color: #b21f34;
}
.do-inline-tabs li:before{
	content: "";
}
.do-inline-tabs li a{
	color: #fff;
	text-align: center;
}
.stakeholder-new{
	margin-top: -40px;
	float: right;
}
.acf-form-submit input[type="submit"]{
	margin: 10px;
}
a[class^="cta"] h2, a[class^="cta"] h3, a[class^="cta"] h4{
	color:#fff;
	text-align: left;
}
a.cta-full{
	width:100%;
	display: inline-block;
	text-align: center;
}
a.cta-red{
	background-color:#b21f34;
}
.red{
	background-color: #b21f34;
}
.red h2, .red h3, .red .fa, .red h4, .red a, .red p{
	color: #fff;
}
.red .unislide .sub-feature-title-container a{
	text-decoration: none;
	font-weight: 700;
}
.left{
	text-align: left !important;
}
.right{
	text-align: right !important;
}
.center{
	text-align: center !important;
}
.level.red{
	padding: 40px 0;
}
.red .dco-content{
	color:red;
}
a.cta:hover{
	color: #fff;
	background-color: #b21f34;
}
a.cta-red:hover{
	background-color: #212f63;
}
.header-middle-bottom{
	border-top: 3px solid #212f63;
    padding-top: 7px;
    margin-top: 12px;
}
.unslider-nav{
	margin-top: -22px;
    margin-bottom: 12px;
}
.addspaceleft{
	margin-left: 10px;
}
.grey{
	background-color:#cccccc;
	color: #4f4f4f;
}
.grey h2, .grey h3, .grey i, i:not(fa-inverse){
	color: #b21f34;
}
.grey h4{
	color:#212f63;
	font-weight: 700;
}
.product-servies{
	margin-top:20px !important;

}
.dco-content .grey h3{
	color: 	#b21f34;
}
#mainwrap, .tabWrap{
	width:100%;
	overflow:hidden;
 	text-align:center;
}
#mainwrap ul {
	float:left;
	margin:auto;
	padding:0;
	list-style:none;
	position:relative;
	left:50%;
}
#mainwrap ul li, .tabWrap ul li {
	padding:5px;
	margin:5px;
	display:-moz-inline-box;/* older gecko*/
	display:inline-block;
	position:relative;
}
#mainwrap ul li {
	left:-50%;
}
#mainwrap ul li:before{
	content: "" !important;
}
.ls-img-container.pub img{
	border: 1px solid #cdcdcd !important;
}
.pub-container{
	background-color: #f5f5f5;
	margin: 10px 0;
	padding: 10px;
	max-width: 300px;
}
.mapp-layout{
	border: #cdcdcd!important;
	margin: 0 !important;
	padding: 0 !important;
}
.dco-content .event-container h3{
		color: #b21f34;
		font-size: 1.8em;
		font-weight: 400
}
.dco-content h3.event-title{
	font-size: 3em;
}
.all-events-container{
	padding:10px;
}
.supplier-logo-single{
	max-width: 60%;
}
.do-suppier-single{
	margin-bottom:20px !important;
}
.addspaceright{
	margin-right: 10px;
}
[class*="padding"]{
	padding: 10px;
	width:100%;
	box-sizing: border-box;
}
[class*="double"][class*="padding"]{
	padding: 20px;
}
[class*="horizontal"][class*="padding"]{
	padding-top: 0;
	padding-bottom: 0;
}
[class*="vertical"][class*="padding"]{
	padding-left: 0;
	padding-right: 0;
	display: inline-block;
}
[class*="left"][class*="padding"]{
	padding: 0 0 0 10px;
}
[class*="bottom"][class*="padding"]{
	padding: 0 0 10px 0;
}
[class*="top"][class*="padding"]{
	padding: 0px 0 0 0;
}
[class*="right"][class*="padding"]{
	padding: 0 10px 0 0;
}
[class*="no-right"][class*="padding"]{
	padding-right: 0;
}
[class*="no-left"][class*="padding"]{
	padding-left: 0;
}
[class*="no-top"][class*="padding"]{
	padding-top: 0;
}
[class*="no-bottom"][class*="padding"]{
	padding-top: 0;
}

[class*="margin"]{
	margin: 10px;
	box-sizing: border-box;
}
[class*="double"][class*="margin"]{
	margin: 20px;
}
[class*="horizontal"][class*="margin"]{
	margin-top: 0;
	margin-bottom: 0;
}
[class*="vertical"][class*="margin"]{
	margin-left: 0;
	margin-right: 0;
}
[class*="left"][class*="margin"]{
	margin: 0 0 0 10px;
}
[class*="bottom"][class*="margin"]{
	margin: 0 0 10px 0;
}
[class*="top"][class*="margin"]{
	margin: 10px 0 0 0;
}
[class*="right"][class*="margin"]{
	margin: 0 10px 0 0;
}
[class*="no-right"][class*="margin"]{
	margin-right: 0;
}
[class*="no-left"][class*="margin"]{
	margin-left: 0;
}
[class*="no-top"][class*="margin"]{
	margin-top: 0;
}
[class*="no-bottom"][class*="margin"]{
	margin-top: 0;
}
.box-circle-container{
	border-radius: 50%;
	background-color: #b21f34;
	transition: 0.5s;
	max-width: 210px;
	margin: 0 auto;
}
.box-circle-container:hover{
	background-color:#212f63
}
.box-circle-container i{
	font-size: 5em;
	color: #fff;
}
.box-circle-container-parent{
	padding-left: 2em;
	padding-right: 2em;

}
.alignright{
	float: right;
	margin: 0 0 10px 10px;
}
.alignleft{
	float: left;
	margin: 0 10px 10px 0;
}
.wp-caption p{
	font-size: 0.9em;
	border-left: 1px solid #b21f34;
	border-right: 1px solid #b21f34;
	padding: 0 10px;
	font-style: italic;
	margin-right: 10px;
}
.aligncenter{
	margin: 0 auto;
	text-align: center
}
.main-column{
	box-sizing:border-box;
}
.box-title{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3em;
}

.social a{
	font-size: 1.6em;
	color: #212f63;
}
.social{
	text-align: center;
}
.social-container div.social:first-of-type{
	text-align: left;
}
.social-container div.social:last-of-type{
	text-align: right;
}
.header-right{
	/*border-left: 3px solid #212f63;*/
}
.dco-content{

}
.dco-content img{

	height: auto;
}
.dco-content h3{
	font-size: 2.2em;
	font-weight: 300;
}
.dco-content .category{
	font-size: 1em;
	font-weight: 300;
	display: block;
}
.sh-logo-container, .sh-content-header{
	width: 100%;
	text-align: center;
	
}
.sh-content-header{
	padding: 3px;

    margin-bottom: 10px;
}
.stakeholder-new-post .dco-content ul li:before{
	content: "\f0f6";

}
.stakeholder-do-logo #main-logo-container{
    width: 200px;
    padding: 6px;
    float: left;
}
.stakeholder-do-logo #main-logo-container h1 a{
 height: auto !important;
}


.updated{
	background-color: lightgreen;
    padding: 5px 10px;
    border-left: 5px solid green;
    margin: 0;
}
.page-template-stakeholder-newpost .acf-tooltip.top{
	margin-top: -50px !important;
}


.sh-logo-container img{
	margin: 0 auto;
	-webkit-box-shadow: -1px 0px 24px -5px rgba(0,0,0,1);
-moz-box-shadow: -1px 0px 24px -5px rgba(0,0,0,1);
box-shadow: -1px 0px 24px -5px rgba(0,0,0,1);
	margin: 30px 0 15px 0;
}
.level-stakeholder{
	background-size: cover;
	background-position: center center;
}
.dco-content .sub-feature  a.sub-feature-category{
	font-size: initial;
	line-height: 1.2em;
	color: #212f63;
	font-weight: 700;
	text-decoration: none
}
.dco-content .sub-feature a.sub-feature-title{
	color: #b21f34;
	font-size: initial;
	font-weight: 700;
	line-height: 1.2em;
	text-decoration: none;
}
.bio-image{
	border-radius: 50%;
	border: 2px solid!important;
    box-shadow: 1px 2px 8px #000;
}
.level-author{
	background-color: rgb(197, 59, 79);
}
.level-author p, .level-author, .level-author a,.level-author h3{
	color: #fff;
}
.level-author h3{
	font-size: 1.8em;
}
.sub-feature-more{
	color: #212f63;
}
.overlay{
	background-color: rgba(178,31,52, 0.84);
	color: #fff;
	position:absolute;
	margin-left: 1px;
	margin-right: 1px;
	margin-bottom: 4px;
	box-sizing: border-box;
	bottom: 0;
	width:100%;
}
.title-container{
	color: #b21f34;
	border-bottom: 1px solid;
	margin-bottom: 10px;
}
.current_page_ancestor > a{
	background-color: #212f63
}
hr{
	margin-bottom: 10px;
}
.footerDisclamerResponsive p{
		text-align:center!important;
}
.footerDisclaimer p{
	font-size: 0.8em;
}
.footerLogo{
	float:left;
	padding-left:15px;
}
.footer-logo-container{
	float:right;
}
.title-container h2 a, .title-container h2{
	color: #b21f34;
	font-weight: 700;
}
.category a{
	color: #b21f34;
}
.login-modal label{
	clear:both;
	display: block
}
.remodal.login-modal{
	max-width: 400px;
}
.remodal.login-modal input{
	width: 100%;
	box-sizing: border-box;
	padding:10px;
}

.dco-content h3.post-list-title{
	font-size: 1.5em;
	margin-bottom: 0
	
}
.dco-content h3.post-list-title a{
	color: #212f63;
	font-weight: 700;
}
.dco-content h2.post-list-title{
	font-size: 2em;
	margin-bottom: 1em;
}

.unislide .sub-feature-title-container{
		padding: 0 5px;
		margin: 0;
}
.unislide .sub-feature-title-container{
	text-align: center
}
.level-sub-features .unslider-nav{
		margin-top: 0;
}
.level-sub-features .unslider-nav ol{
		text-align: center
}
.fa-nav{
	color: #b21f34;
	cursor: pointer
}
.red .latest-container .fa-nav{
	color: #b21f34;	
}
.right-nav{
	text-align: right;
}
.pub-image-container img{
	border:1px solid #cdcdcd;
}
.overlay a{
	color: #fff;
	text-decoration: none
}
.overlay h3{
	margin: 0;
	padding: 0;
}
.level-sub-features div.sub-feature div.padding{
	padding-left:0 !important;
}
.level-sub-features div.sub-feature:last-of-type div.padding{
	padding-right:0 !important;
}
.stakeholder-logo-container{
	border-top: 1px solid #c24e5f;
	border-bottom: 1px solid #c24e5f;
}
.sh-img-container{
	float: left;
}

.sh-img-container{
	margin-top: 10px;
}
.ls-img-container img{
	border:0;
}
.ls-img-container a{
	display:inline-block;
}
.logo-slider{
	margin-bottom: 20px
}
.video-container .fve-video-wrapper{
	margin-top: 0;
}
.webinars-container{
	line-height: 2em
}
.latest-container{
	background-color: #FFF;
	overflow-y: auto;
}
.blue{
	background-color: #212f63;
	color: #fff;
}
.level-footer{
	padding: 40px 0 !important;
	    margin-top: 40px;
}
.footer-ebook{
	margin-top: -30px;
}
#footer{
	width: 100%;
	clear:both;
	
}
.slide-title{
	font-weight: 700;
	color: #b21f34;
	font-size: 1.2em;

}
.fixedHeader{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999999;
    transition: 0.5s;
}

nav{
	transition:0.5s;
}
.fixedHeader.level-nav-bar{
	-webkit-box-shadow: 0px 3px 21px 1px rgba(0,0,0,0.51);
    -moz-box-shadow: 0px 3px 21px 1px rgba(0,0,0,0.51);
    box-shadow: 0px 3px 21px 1px rgba(0,0,0,0.51);
    
}
.fixed-logo-container{
	position: absolute;
	transition: 0.5s;
	z-index:9;
	padding:3px;
	display: none;
	opacity: 0;

}
.level-nav-bar.fixedHeader .fixed-logo-container{
	margin-top: 0!important;
	opacity: 1;
}
.level-nav-bar{
	transition: 0.5s;
}
#main-logo-container{
	transition: 0.5s;
}
.fixedLogo{
	position: fixed;
    top: 0;
     z-index: 999999999;
     transition: 0.5s;
}
.fixed-logo-container img{
	width: 28px;
}
.sub-feature-slider.unislide p.sub-feature-title-container{
	margin: 0;
}
.main-feature-container img{
		width:100%;
		height: auto
}
.main-feature-container{
	position:relative;
}
.acf-form{
	margin: 0 -20px;
}
.dco-searchform{
	margin-right: 10px;
}
.sub-image-container img{
	width: 100%;
}
#postcodeLoading{
	width:100%;
}
.header-middle-top{
	border-top: 2px solid #212f63;
	margin: 0px 10px 0 0;
}
.do-full-sidebar .sub-feature{
	width: 100%!important;
}
.content-with-sidebar .level{
	margin: 20px 0;
}
.do-full-sidebar .sub-feature .padding{
	padding: 20px 0;
}
.content-sidebar{
	margin-top: -27px;
}

	.free-content img{
		max-width:65px;
		
	}
	.free-content p{
		display: block;
	}
	.header-supportedby{
		text-align: right;
	}
	.header-logos-container{
		width:275px;
		text-align: right
	}
	.free-content{
		text-align: left;
	}
	.header-logos-container p{
		margin-top: 1em;
	}
	.header-supportedby{
		margin: 0;
		margin-right: 20px;
	}


/* Print styles!
-------------------------------------------------------------------------------*/
@media print {

}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Always do mobile-first, and consider using em units: http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw

@media screen and (min-width: 480px) {

} */



@media screen and (max-width: 72em){
	.level, .level.red{
		padding: 0 10px;
	}
	.level.red{
		padding: 25px 10px;
	}
	.sh-img-container img{
		max-width: 110px;
		height: auto;
	}
	.level-main-feature .grey{
		font-size: 0.86em !important;
	}
	div.header-slider h2{
		font-size: 1.6em !important;
	}
	.sf-menu A{
		font-size: 0.9em!important;
	}
	.level-sub-features div.sub-feature:last-of-type div.padding{
	padding-right: 10px !important;
	}

	

}

@media screen and (max-width:35.5em){

	.header-middle-top h2{
		font-size: 2em;
	}
	.sub-image-container img{
		width: 100%;
	}

	.overlay{
		    position: relative;
    margin-bottom: -12px;
    box-shadow: 0px 1px 8px #000;
	}
	
}
@media screen and (max-width:64em){
	.level-video .padding-right{
		padding-right: 0!important
	}
	.level-video .padding-left{
		padding-left: 0!important
	}
	.level-main-feature .margin-left{
		margin-left:0!important;
	}
	.header-middle-top{
		border-top: 0;
	}
	
	.header-slider h2 a{
		text-align: center;
		font-size: 0.67em;
		display: inline-block;
	}
	.stakeholder-do-logo #main-logo-container{
			float: none;
			
    text-align: center;
    margin: 0 auto;

	}
	#pulldown-logo-container{
		margin-top: 0;
	}
	.single-stakeholders #search_stakeholders{
		display:none;
	}
	.stakeholder-logo-container .sh-image-inner, .stakeholder-logo-container .sh-img-container, .stakeholder-logo-container .sh-image-inner img, .stakeholder-logo-container .imagelink{
		width: 100%;
		height: auto;
		max-width: none!important;
	}

	.mega-icon-container{
		font-size: 2em !important;
	}

	


}
@media screen and (max-width:48em){
	
	.video-container{
		padding: 10px 0;
	}
	#main-logo-container h1 a{
		background-position: center center;
	}
	.header-slider h2{
		text-align: center;
	}
	.level-header{
		margin: 20px 0;
	}
	.do-suppliers input, .do-suppliers textarea, .do-suppliers select{
		width: 100%;
	    padding: 3px 5px;
	    resize: none;
	    margin: 0;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    font-size: 14px;
	    line-height: 1.4;
	}
	.alignright, .alignright img, .alignleft, .alignleft img, .aligncenter img{
		width:100%!important;
		height: auto !important;
	}
	.join-us-button{
		margin-top: 10px;
		float:none !important;
	}



}
.acf-fields > .acf-field{
	border-top: 0 !important;
}

/* ACF FORM STYLING */
@media screen and (min-width: 64em){
	.acf-form #title{
		width: 20%;
		float: left;
		box-sizing: border-box;
	}
	.acf-form #first_name{
		width: 30%;
		float: left;
		box-sizing: border-box;
	}
	.acf-form #last_name{
		float: left;
		width: 50%;
		box-sizing: border-box;
	}
	.acf-form #email{
		clear:left;
	}
	.acf-form #post_code{
		float: left;
		width: 50%;
		box-sizing: border-box;
		clear: right;
	}
	.acf-form #username{
		float: left;
		width: 100%;
		box-sizing: border-box;
		clear: both;
	}
	.acf-form #address_one{
		width: 100%;
		box-sizing: border-box;
		clear: both;
	}
	.acf-form #company{
		float: left;
		width: 50%;
		box-sizing: border-box;
		clear: right;
	}
	.acf-form #address_two{
		width: 100%;
		box-sizing: border-box;
		clear: both;
	}
	.acf-form #address_two .acf-label{
		display: none;
	}
	.acf-form #tel{
		float: left;
		width: 50%;
		box-sizing: border-box;
	}
	.acf-form #tel{
		float: left;
		width: 50%;
		box-sizing: border-box;
	}
	.acf-form #employees{
		float: left;
		width: 50%;
		box-sizing: border-box;
		clear:left;
	}
	.acf-form #turnover{
		float: left;
		width: 50%;
		box-sizing: border-box;
	}
	.acf-form #opt{
		float: left;
		width: 100%;
		box-sizing: border-box;
		clear:both;
	}
	.acf-form #opt .acf-label{
		float:left;
	}
	.acf-form #opt .acf-input{
		float: left;
	}
	.acf-form #opt .acf-label{
		width: 95%
	}
	.acf-form #opt .acf-input{
		width: 5%
	}
	.acf-form #job{
		float: left;
		width: 100%;
		box-sizing: border-box;
		clear:both;
	}

	.acf-form .acf-fields > .acf-field{
		clear: none;
	}
	.acf-form #postcodebutton{
		float:left;
		width: 50%;
		
	}
	.acf-form #postcodebutton input{
		font-size: 15px;
		
	}
	
	

}


/* General styles for all menus */
.cbp-spmenu {
    background: #23282d;
    position: fixed;
    font-size: 90%;
}
.cbp-spmenu h3 {
    color: #f5f5f5;
    font-size: 1.9em;
    padding: 10px;
    margin: 0;
    font-weight: 300;
    background: #32373D;
}
.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    text-decoration: none;
}
.cbp-spmenu .children li a{
    font-size: 95%;
}
.cbp-spmenu .children{
    padding: 0 0 0 20px;
    margin:0;
}
.cbp-spmenu a:hover {
    background: #32373D;
}
.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}
.cbp-spmenu-vertical {
    width: 340px;
    height: 100%;
    top: 0;
    z-index: 1000;
    overflow-y: auto;
}
.cbp-spmenu-vertical li{
    list-style: none;
}
.cbp-spmenu-vertical a {
    border-bottom: 1px solid #32373D;
    padding: 1em;
}

.cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
}
.cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
}

.cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
}
.cbp-spmenu-left {
    left: -340px;
}
.cbp-spmenu-right {
    right: -340px;
}
.cbp-spmenu-left.menu-open {
    left: 0px;
}
.cbp-spmenu-right.menu-open {
    right: 0px;
}
.cbp-spmenu-top {
    top: -150px;
}
.cbp-spmenu-bottom {
    bottom: -150px;
}
.cbp-spmenu-top.menu-open {
    top: 0px;
}
.cbp-spmenu-bottom.menu-open {
    bottom: 0px;
}
.push-body {
    overflow-x: hidden;
    position: relative;
    left: 0;
    top:0;
}
.push-body-toright {
    left: 340px;
}
.push-body-toleft {
    left: -340px;
}
.push-body-todown {
    top: 150px;
}

/* Added due to change of the tag from h2 to h1 at author/dprte page to keep the appearance unchanged. SEO reasons */
.page-header h1.line-along span{
	color: 	#b21f34;
	font-size: 2.1em;
    line-height: 1.4em;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
}

.page-header h2.line-along span{
	color: 	#b21f34;
	font-size: 2.8em;
    line-height: 1.4em;
    font-weight: 400;
    font-family: 'Open Sans Condensed', sans-serif;
}

@media screen and (max-width: 55.1875em) {
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 200px;
    }

    .cbp-spmenu-top {
        top: -200px;
    }

    .cbp-spmenu-bottom {
        bottom: -110px;
    }
}
@media screen and (max-width: 55.1875em) {
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 240px;
    }

    .cbp-spmenu-left,
    .push-body-toleft {
        left: -240px;
    }

    .cbp-spmenu-right {
        right: -240px;
    }

    .push-body-toright {
        left: 240px;
    }
}
#nav-toggle span { position: absolute; }
#nav-toggle span, 
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 23px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -8px;
}
#nav-toggle span:after {
  bottom: -8px; 
}
#nav-toggle{
        width: 40px;
    height: 33px;
    background-color: transparent;
    border: none;
    position: relative;
}
#nav-toggle:focus{
	outline: 0;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

#nav-toggle-foot span { position: absolute; left: 50%; top: 50%; }
#nav-toggle-foot span, 
#nav-toggle-foot span:before,
#nav-toggle-foot span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 23px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle-foot span:before {
  top: -8px;
}
#nav-toggle-foot span:after {
  bottom: -8px; 
}
#nav-toggle-foot{
        width: 40px;
    height: 33px;
    background-color: transparent;
    border: none;
    position: relative;
}
#nav-toggle-foot:focus{
	outline: 0;
}
#nav-toggle-foot span, #nav-toggle-foot span:before, #nav-toggle-foot span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle-foot.active span {
  background-color: transparent;
}
#nav-toggle-foot.active span:before, #nav-toggle-foot.active span:after {
  top: 0;
}
#nav-toggle-foot.active span:before {
  transform: rotate(45deg);
}
#nav-toggle-foot.active span:after {
  transform: rotate(-45deg);
}




#nav-toggle-sh span {}
#nav-toggle-sh span, 
#nav-toggle-sh span:before,
#nav-toggle-sh span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 23px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle-sh span:before {
  top: -8px;
}
#nav-toggle-sh span:after {
  bottom: -8px; 
}
#nav-toggle-sh{
        width: 40px;
    height: 33px;
    background-color: transparent;
    border: none;
    position: relative;
}
#nav-toggle-sh:focus{
	outline: 0;
}
#nav-toggle-sh span, #nav-toggle-sh span:before, #nav-toggle-sh span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle-sh.active span {
  background-color: transparent;
}
#nav-toggle-sh.active span:before, #nav-toggle-sh.active span:after {
  top: 0;
}
#nav-toggle-sh.active span:before {
  transform: rotate(45deg);
}
#nav-toggle-sh.active span:after {
  transform: rotate(-45deg);
}

#nav-toggle-sh-foot span { position: absolute; left: 50%; top: 50%; }
#nav-toggle-sh-foot span, 
#nav-toggle-sh-foot span:before,
#nav-toggle-sh-foot span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 23px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle-sh-foot span:before {
  top: -8px;
}
#nav-toggle-sh-foot span:after {
  bottom: -8px; 
}
#nav-toggle-sh-foot{
        width: 18px;
    height: 33px;
    background-color: transparent;
    border: none;
    position: relative;
}
#nav-toggle-sh-foot:focus{
	outline: 0;
}
#nav-toggle-sh-foot span, #nav-toggle-sh-foot span:before, #nav-toggle-sh-foot span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle-sh-foot.active span {
  background-color: transparent;
}
#nav-toggle-sh-foot.active span:before, #nav-toggle-sh-foot.active span:after {
  top: 0;
}
#nav-toggle-sh-foot.active span:before {
  transform: rotate(45deg);
}
#nav-toggle-sh-foot.active span:after {
  transform: rotate(-45deg);
}







.sh-gallery-image{
	max-width: 215px;
}
.tos-wrapper.tos-fixed{
	z-index: 9999999999 !important;
}
.single-stakeholder .large-fa{
	font-size:2em;

}
.single-stakeholder{
	padding: 15px 0;
}
.single-stakeholder .line-along{
	margin-bottom: 30px;
}
.small-icon{
	font-size: 0.8em;
}



.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul.stakeholder-footer-nav {
	text-align: center;
	list-style: none;
	margin:0;
	padding:0;
}
ul.stakeholder-footer-nav li {
	display: inline;
}
ul.stakeholder-footer-nav li ul{
	display: 	none;
}
ul.stakeholder-footer-nav a{
	padding: 10px;
	color: 	#fff
}
.stake-title{
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    display: flex;
    vertical-align: top;
}
.do-stakeholder-select select{
	font-size: 0.5em;
    vertical-align: top;
    margin: 6px;
    margin-left: 20px;
}
.do-stakeholder-select{
	-webkit-box-shadow: inset 0px -8px 29px 0px rgba(0,0,0,0.73);
-moz-box-shadow: inset 0px -8px 29px 0px rgba(0,0,0,0.73);
box-shadow: inset 0px -8px 29px 0px rgba(0,0,0,0.73);
}
#search_stakeholders{
	float: left;
}
.stakeholder-contact-container{
	background-position: center center;
}
.cbp-spmenu-top{
	top: -193px;
	height: 193px;
}
.cbp-spmenu.cbp-spmenu-top{
	background-color: #fff;
}
.cbp-spmenu #pulldown-logo-container a{
	width: 200px;
}
.cbp-spmenu .level-header{
	margin-bottom: 0
}
.account-buttons a{
	width: 100%;
}
.cbp-spmenu-top .social a{
	color: #b21f34;
}
.cbp-spmenu-top .level-nav-bar{
	background-color: #b21f34 !important;
}
.cbp-spmenu-top li ul li, .cbp-spmenu-top li ul li a, .cbp-spmenu-top li ul li a:hover, .cbp-spmenu-top li ul li:hover{
	display: none!important
}
.cbp-spmenu-top li ul{
	display: none!important
}
.cbp-spmenu-top a:hover{
	background-color: #212f63 !important;
}
.cbp-spmenu-top .sf-menu A:hover, .cbp-spmenu-top .sf-menu .current_page_item a{
	background-color: #212f63 !important;
}
.cbp-spmenu-top .sf-menu LI:hover, .cbp-spmenu-top .sf-menu LI.sfHover{
	background-color: #212f63 !important;
}
.cbp-spmenu-top .fixed-logo-container{
	display: none!important
}
.cbp-spmenu-top #pulldown-logo-container a:hover{
	background-color: #fff !important;
}
#nav-toggle-stakeholder{
	cursor: pointer;
}
.cbp-spmenu-top .social a:hover{
	background-color: #fff !important;
}
.cbp-spmenu-top a{
	border-left: 0!important;
}

.cbp-spmenu .stake-title-inner{
		display: none;
	}
.single-stakeholders #search_stakeholders{
		float:right;
	}
.single-stakeholders .cbp-spmenu #search_stakeholders{
	display: block;
	float: left;
}
.img-container {
    position: relative;
    display: inline-block;
}
.img-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.img-container img {
    z-index: 9;
    text-align: center;
}
#play{
    background: url('images/video-play-button.png') center center no-repeat;
        margin: -164px 0 0 0;
    height: 155px;
    position: relative;
    z-index: 10;
}
.featvideos a {
	cursor: pointer;
}
.pub-image-container{
	max-height: 369px;
	overflow: hidden;
	border: 1px solid #cdcdcd;
	background-color: #fff;
}
.pub-image-container img{
	border: 0!important;
}
#mainwrap ul li{
	max-width: 290px;
}
.sh-logo-container img{
	background-color: #fff;
	padding: 10px;
}
.stakeholder-contact-container img{
	background-color: #fff;
	padding: 10px;
}
.single-post #search_stakeholders{
	float: right;
}
.single-video-row{
	max-width: 671px;
    margin: 0 auto;
}

.two-big .main-feature-container img{
	    max-height: 395px;
}
.home .main-feature-container img{
		max-height: 501px
}
.sh-img-container img{
	
}
.sh-img-container{
	margin:5px;
}
.sh-img-container a.imagelink{
	display: inline-block;
	background-color: #fff;
	padding:5px;
	border:1px solid #cdcdcd;
}
.sh-img-container a.imagelink img{
	border:0;
}
.sh-outer-container{
	margin: 0 5px;
}
.sh-content-container{
	margin-top: 10px;
	float: left;
}
.join-us-button{
	float:right;
}
.stakeholder-shop-header{
	margin-bottom: 20px;
}
.sub-title-button{
	padding-bottom: 12px;
    display: inline-block;
}

/* iframe scaling for responsive video - JP */
.iframeBox { 
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%; 
} 
.iframeBox iframe, .iframeBox object, .iframeBox embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
}
.other-videos .img-container{
	padding: 2px;	
}

.stakeholderContent{
	background-color: #b21f34;
}
.stakeholderContent .line-along{
	font-size: 2.5em;
	background-color: #212f63;
	background-image: none!important;
	margin: 2px;
}
.stakeholder-widget .stakeholderContent h2.line-along span, .do-full-sidebar .stakeholderContent h2.line-along span, .with-widget .stakeholderContent h2.line-along span{
	background-color: transparent;
	margin: 0;
	color: #FFF;
}
.stakeholder-widget .stakeholderContent h2.line-along span i, .do-full-sidebar .stakeholderContent h2.line-along span i, .with-widget .stakeholderContent h2.line-along span i{
	font-size: .5em;
    vertical-align: super;
}
.stakeholder-widget .stakeholderContent h2.line-along span a, .do-full-sidebar .stakeholderContent h2.line-along span a, .with-widget .stakeholderContent h2.line-along span a{
	color: #FFF;
	cursor: pointer;
}
.supplier-container-mini{
	background-color: #FFF;
}
.stakeholder-container-mini{
	background-color: #b21f34;
}
.stakeholder-container-mini img{
	background-color: #FFF;
}
.supplier-container-mini img{
	width: 100%;
}
 .remodal-wrapper .left-align-remodal{
	text-align: left;
}
.stakeholder-widget .stake-title{
	font-size: 1.5em;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
	
}
div.stakeholder-widget{
	margin-bottom: 20px
}
.stakeholder-widget .stake-title-inner{
	width: 100%;
}
.stakeholder-widget .stake_search{
	font-size: 0.7em;
    width: 100%;
}
.video-slider .one-slide{
	margin: 0 3px;
}
.video-slide-right, .video-slide-left{
	text-align: center;
	color: #b21f34;
	cursor: pointer
}

.video-slider-title, .video-slider-title a{
	color: #b21f34;
    font-size: initial;
    font-weight: 700;
    line-height: 1.2em;
    text-decoration: none;
}
.video-wrap{
	padding-bottom: 10px;
	display: inline-block;
}
.video-wrap a {
  float: left;
  position: relative;
}
.video-wrap a span {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("images/play-btn.png") no-repeat;
  background-position: 50% 50%;
  background-size: 300%;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .video-wrap a span {
    background-size: 400%;
  }
}
.white-stakeholder-content{
	background-color: 	#fff;
	border-left: 2px solid #b21f34;
    border-right: 2px solid #b21f34;
    border-bottom: 2px solid #b21f34;
}

.dco-content .level:first-of-type{
	margin-top: 0!important;
}
.stake-title-inner a{
	color:#fff;
}
.stake-title-inner a:hover{
	color:#fff;
}
.stake-title-inner a i{
	font-size: .7em;
    vertical-align: super;
    cursor: pointer;
}
.sh-icon-list-container{
	background-color: #fff;
	border: 1px ;
}
.sh-icon-list-container img{
	border: 0 ;
}
.tooltipsterA{
	color: #FFF;
	font-style: italic;
	text-decoration: underline
}

.session-nav a{
	float: right !important;
    color: #fff !important;
    line-height: 2.4em;
    margin-left: 20px;
}
.session-nav a i{
	margin-right: 5px;
}
.session-nav a:hover{
	text-decoration: underline;	
}
.header-search-box .dco-searchform{
	margin: 0;
}
.header-search-box{
	border:1px solid #b21f34;
}
.header-search-box input{
	border:0;
	line-height: 2.6em;
}
.header-search-box input:focus{
	outline:0;
	
}
.header-search-box .dco-searchform:before{
	padding-left: 7px;
    padding-top: 10px;
}
.header-free h2{
	font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    margin-top: 9px;
}
.free-content img{
	max-width: inherit;
}
.header-free .header-logos img{
	max-height: 20px;
}
.blue  .fa-inverse{
	color: #212f63;
}
.blue .social{
	padding-left: 5px;
}
.mega-icon-container{
	font-size: 5em;
	text-align: center;
	padding: 20px;
	margin: 0 10px;
    background-color: #dad9d9;
    transition: 0.25s;
    cursor: pointer
}
.mega-icon-container:hover{
    background-color: #dad9d9;
    box-shadow: 0 8px 9px #b3b3b3;
}
.marketing-nav-item{
	font-size: 0.3em;
	padding: 0;
	margin: 0;
	color: #212f63;
	text-transform: uppercase;
}

.light-grey{
	background-color: #eaeaea;
    padding: 20px 0;
}
.mega-icon-container .fa-inverse{
	color: #b21f34 !important;
}
.mega-icon-container .fa{
	color: #212f63;
}
.with-stroke{
	 -webkit-text-stroke: 1px white;
   text-shadow:
       3px 3px 0 #FFF,
     -1px -1px 0 #FFF,  
      1px -1px 0 #FFF,
      -1px 1px 0 #FFF,
       1px 1px 0 #FFF;
}
.marketing-level-header{
	text-align: center;
	text-transform: uppercase;
	font-size: 3em;
	font-family: 'Open Sans Condensed', sans-serif;
}
.marketing-level-header i{
	color: #b21f34;
}
.marketing-level-header span{
	padding-left: 10px;
}
.marketing-blurb-container p{
	color: #676767;
    font-size: 1.25em;
    text-align: center;
    margin: 0 12%;
    padding: 10px 0;
}
.red .marketing-blurb-container p{
	color: #FFF;
}
.marketing-blurb-container h3{
	font-size: 2em;
	   font-family: 'Open Sans Condensed', sans-serif;
	   font-weight: 700;
}
.marketing-icon-container{
	text-align: center;
	margin: 33px 0;
}
.marketing-icon-container p a{
	font-size: 1.2em;
    text-transform: uppercase;
}
.subcta{
	text-align: center;
    font-size: 1.6em;
    padding: 0;
    margin-top: 0;
    margin-bottom: 43px;
}
.subcta span{
	border-top: 1px solid #b21f34;
	border-bottom: 1px solid #b21f34;
	padding: 0.5em;
}
.red .subcta span{
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	padding: 0.5em;
}
.red .subcta span a{
	font-weight: 700;
}
.blue .subcta span a{
	font-weight: 700;
	color: #FFF;
}
.cta.marketing-cta{
	font-size: 3em;
	display: inline-block;
	margin-bottom: 30px;
}
.blue .cta.marketing-cta{
	background-color: #b21f34;
}
.blue .cta.marketing-cta:hover{
	background-color: #212f63;

}
.cta.marketing-cta i{
	line-height: 1.5em;
}
.marketing-cta span{
	clear: both;
    display: block;
    font-size: 0.4em;
    font-family: 'Open Sans Condensed', sans-serif;
}
.marketing-image-level{
   margin:20px 0;
}
.blue .marketing-blurb-container p{
		color: #fff;
}
.stakeholder-container-mini{
	text-align: center
}
.stakeholder-container-mini img{
    max-height: 127px;
    width: auto !important;
}
.supplier-grid-outer{
	margin: 5px;
    border: 1px solid #b12223;
    padding: 10px;
    background: repeating-linear-gradient(90deg, white, 90%, #f1f1f1);
}
.level-advertisement [class*="double"][class*="padding"] {
    padding: 0px!important;
}
.level-advertisement P{
	margin: 0!important;
	display: none!important;
}
